CompileFlags:                     # Tweak the parse settings
  Add: [-Wall]             # treat all files as C++, enable more warnings
  Compiler: riscv64-linux-gnu-gcc              # Change argv[0] of compile flags to `clang++`
