CompileFlags:                     # Tweak the parse settings
  Add: [-I/home/dmh/xv6-labs-2022]             # treat all files as C++, enable more warnings
  Compiler: riscv64-linux-gnu-gcc              # Change argv[0] of compile flags to `clang++`
